{% extends 'layout.html' %}

{% block content %}
    

<div class="slide-one-item home-slider owl-carousel">
    <div class="site-cover site-cover-sm same-height overlay" style="background-image: url({{principal.img.url}});">
      <div class="container">
        <div class="row same-height align-items-center">
          <div class="col-md-12 col-lg-6">
            <div class="post-entry">
    
              <span class="post-category text-white bg-success mb-3">{{ principal.categoria | upper }}</span>

              <h2 class="mb-4">{{ principal.titulo }}</h2>
              <div class="post-meta align-items-center text-left">
                
                {% if principal.autor.img %}
                    <figure class="author-figure mb-0 mr-3 float-left"><img src="{{ principal.autor.img.url }}" alt="Image" class="img-fluid"></figure>
                {% endif %}
                    
                
                <span class="d-inline-block mt-1">Autor: {{ principal.autor }}</span>
                <span>{{ principal.fecha_publicacion }}</span>

        
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}