<footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </p>
      <p class="m-0 mbt1">&copy; Portafolio Lucas Migliaccio 2022</p>
        <a href="https://github.com/LucasMigliaccio" target="_blank" style="color: darkmagenta;">GitHub</a> ·
        <a href="https://www.linkedin.com/in/lucas-migliaccio-828742196/" target="_blank" style="color: darkmagenta;">LinkedIn</a> ·
        <a href="mailto:lucasmigliaccio10@gmail.com?Subject=Mail%20desde%20el%20portafolio" style="color: darkmagenta;">Mail Directo</a>
      </p>

    </div>
  </footer>