{% extends "layout.html" %}

{% load static %}

{% block content %}
    <div class="contenedorFormulario">


        {% if "valido" in request.GET %}

            <p style="text-align: center; color: orange;" >¡Información enviada correctamente!</p>

        {% endif %}

        {% if "invalido" in request.GET %}

            <p style="text-align: center; color: orange;" >¡Algo falló, por favor intentalo más tarde!</p>

        {% endif %}

        <form action="" method="POST">{% csrf_token %}

            <table style="color: white; margin: 20px auto" >
                
                
                {{miformulario.as_table}}

                

            </table>
            <div style="text-align: center; ">
                <input type="submit" value="Enviar" style="
                    width:200px;
                    border-radius: 5px;
                    color: white;
                    background-color: black;
                    font-family:'Helvetica';">
            </div>
            

        </form>
        <br>
    </div>


{% endblock %} 